body {color:#092476;}

/** Header *******************************************************************************************/
.atk-wrapper {text-align:left;}
#atk-logo {background:none;width:400px;height:187px;}
